*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section1{
  display: inline-block;
  position: relative;
  width: 50%;
  height: 50%;
  min-width: 32rem;
  min-height: 48rem;
  padding: 5rem;
  border: 0.1rem black solid;
  background-color: #DFDCDF;
  border-radius: 4rem;
  top: 15rem;
  left: 30rem;
}

.section2{
  display: inline-block;
  position: absolute;
  width: 25%;
  min-height: 5rem;
  top: 12.5rem;
  left: 45.5rem;
  padding: 2rem;
  text-align: center;
  background-color: #FF0103;
  border: 0.1rem black solid;
  border-radius: 0.7rem;
}